<h1><%= @issue.title %></h1>
<h2><%= @issue.subtitle %></h2>
<span class="previous navigation">
  <%= link_to @issue.previous_label, issue_path(@issue.previous_id) %>
</span>
<span class="next navigation">
  <%= link_to @issue.next_label, issue_path(@issue.next_id) %>
</span>


<% if @issue.audio %>
  <div class="audio-box">
    <%= audio_tag Issue::BASE_DOMAIN_URL + "/" + @issue.audio.src, :autoplay => true, :controls => true, :loop => true %>
    </audio>
  </div>
<% end %>

<ul id="images">
  <% @issue.images.each do |image| %>
    <li><%= image_tag Issue::BASE_DOMAIN_URL + "/" + image.src %></li>
  <% end %>
</ul>

